body {
  /* --tw-fontfamily-lato: 'Lato', sans-serif;
   --tw-fontcolor-lightgrey: #ababab;
   --tw-content-padding: 10px;
   --tw-closebutton-color: #d9444e;*/
  padding: 0;
  margin: 0; }

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(https://images.pexels.com/photos/15382/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=750&w=1260) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .background .text {
    text-align: center; }
    .background .text .variable {
      font-family: 'Permanent Marker', cursive;
      margin: 20px;
      font-size: 6em;
      animation: 2s ease 0s forwards 1 fadein;
      -webkit-animation: 2s ease 0s forwards 1 fadein; }
    .background .text .cssfonts {
      font-family: 'Pacifico', cursive;
      font-size: 4em;
      transition-delay: 3sec;
      animation: 3s ease 0s forwards 1 fadein;
      -webkit-animation: 3s ease 0s forwards 1 fadein;
      transition-duration: 5s; }
    .background .text .multiple {
      font-family: 'Patrick Hand', cursive;
      font-size: 1.6em;
      margin-top: 20px;
      animation: 4s ease 0s forwards 1 fadein;
      -webkit-animation: 4s ease 0s forwards 1 fadein; }
    .background .text .imagine {
      font-family: 'Charmonman', cursive;
      font-size: 1.3em;
      width: 400px;
      margin: 20px auto;
      animation: 5s ease 0s forwards 1 fadein;
      -webkit-animation: 5s ease 0s forwards 1 fadein; }

@keyframes fadein {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.boxes-container {
  width: 100%; }
  .boxes-container .boxtrio .box {
    max-width: 300px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    border: 2px solid black; }

.main {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px; }

/*# sourceMappingURL=main.css.map */
