body {
  /* --tw-fontfamily-lato: 'Lato', sans-serif;
   --tw-fontcolor-lightgrey: #ababab;
   --tw-content-padding: 10px;
   --tw-closebutton-color: #d9444e;*/
  padding: 0;
  margin: 0;
}

@import 'scss/topbanner';
@import 'scss/reset';
@import 'scss/boxes';


.main {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px;
}